*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div {
    width: 250px;
    height: 250px;
    background-color: skyblue;
    align-content: center;
}

.degradetexto{
    background-image: linear-gradient(to bottom right, red, green, yellow);
}

.agrandar{
    transition: height 3s, width 3s;
}

.agrandar:hover {
    transform: scale(1.8, 1.8);
}