*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div {
    width: 250px;
    height: 250px;
    background-color: skyblue;
    align-content: center;
}

section {
    padding: 20px;
}

img {
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

article {
    text-align: center;
}

.main-flex {
    display: flex;
}

.galeria-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.degradetexto{
    background-image: linear-gradient(to bottom right, red, green, yellow);
}

.agrandar{
    transition: height 3s, width 3s;
}

.agrandar:hover {
    transform: scale(1.8, 1.8);
}

.animaciontexto{
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
}

@keyframes texto{
    from/*inicio*/{
transform: translate(1000px)
    }
    to/*final*/{
transform: translate(0);
    }
}